<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/13686723_10153623615511126_291146008017259680_n.jpg?oh=70b4e66bb1c1291baefe1a94e46dd5dc&oe=5A485282", width: '300' %>
      </div>
      <div class="col-md-8">
         <p class="about-text">
       <!--  As  a createive, I strive to create . -->
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
        </p>
      <p>
        <!-- Some other reallly cool content about me! -->
      </p>
      </div>
    </div>
  </div>
</div>




