<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>


<p><%=  number_to_phone "5555555555" %></p>

<div class="row">
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.816616087935!2d-118.34974698478983!3d33.86861668065639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b4fd476a910f%3A0xbb9311a7019b04b!2s4122+W+178th+St%2C+Torrance%2C+CA+90504!5e0!3m2!1sen!2sus!4v1505612416543" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>